.idea/
*.iml
target/
*.swp
*~
bazel-*
.ijwb/
out/
benchmarks/jmh-output/

# Mac
.DS_STORE

# Log files
*.log
*log*.txt
*logs*.txt
*logs*.tar.gz
*log*.tar.gz

# Test files
indices/
**astra-slot-log**

# go vendor files.
vendor/

# Wrong to ignore?
astra/dependency-reduced-pom.xml
benchmarks/dependency-reduced-pom.xml
